@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-textPrimary font-sans antialiased;
}

* {
  -webkit-tap-highlight-color: transparent;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}
